body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.container{
    margin: 0 auto;
    padding: 5px 0;
}

.form-group{
    margin-top: 15px;
}

#text-area,
#text-content,
#paste-content,
#select-content{
    padding: 5px 10px;
}

button{
    background-color: lightgray;
}
