body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

button{
    display: block;
    margin: 15px auto;
}

input[type="submit"], button{
    background-color: darkgray;
}

