body {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: lightgreen;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100px;
  margin-right: 30px;
}

button {
  margin-top: 10px;
}

.section {
  width: 100px;
  height: 150px;
  border: 2px solid black;
}

.section-one {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}

.section-one div {
  width: 50px;
  height: 30px;
}

.section-two {
  display: flex;
  align-items: center;
}

.section-two div {
  flex: 1;
  font-size: 12px;
  font-weight: bold;
}

.section-three {
  display: flex;
  align-items: flex-start;
}

.section-three div {
  flex: 1;
  font-size: 12px;
  font-weight: bold;
}

#blue {
  align-self: center;
}
