body {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: whitesmoke;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.section {
  width: 100px;
  height: 150px;
  border: 2px solid black;
  margin-right: 30px;
}

.section-one {
  background: pink;
}

.section-two {
  background-color: springgreen;
}

button{
  background-color: lightgray;
}