body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-box{
    background-color: white;
    width: 220px;
    height: 270px;
    margin-left: 20px;
    border: 5px groove pink;
}

.image-box{
    background-image: url('dragAndDrop.jpg');  
    position: relative;
    width: 200px;
    height: 250px;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.hold{
    border: 3px solid pink;
}

.dashed{
    background-color: whitesmoke;
    border-style: dashed;
}

.hide{
    display: none;
}

