body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

#list{
    list-style-position: inside;
}

button{
    background-color: lightgray;
}
