body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#container{
    width: 200px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px inset darkcyan;
}

button{
    margin-top: 20px;
    background-color: lightgray;
}
