body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.outer-container{
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    margin: 10px auto;
    position: relative;
}

.inner-container{
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: lightblue;
    position: absolute;
}

.text-container{
    background-color: lightblue;
    display: inline-block;
    padding: 20px;
    margin-top: 30px;
    border: 10px inset darkturquoise;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

li{
    display: inline-flex;
    border: 5px inset darkcyan;
    background-color: lightblue;
    padding: 3px 5px;
}

form{
    display: inline-flex;
    margin-top: 10px;
}

button{
    margin-left: 5px;
    background-color: lightgray;
}

img{
    width: 200px;
    height: 120px;
    margin-top: 20px;
    border: 10px inset darkcyan;
}

.darkcyan{
    color: darkcyan;
}
